<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <title>Chat Window</title>
</head>
<body>

    <div class="head">
        <h1>Let's Chat</h1>
    </div>
    <div class ="flex-box">
    <div class="group-list">
        <h1 style="text-align: center; margin-top: 0px;">Groups</h1>
        <div id="show-groups">
          
        </div>
    </div>
    <div id="chat-container">
        <h1 id="group-head-name"> Select a group</h1>
        <button id="details">+</button>
        <div id="chat-window">
            <div id="message-container">
                <p>helllo</p>
            </div>
        </div>
        <div id="send-container">
            <form id="send-chat">
            <input type="text" name="chat" id="chat" placeholder="Send a message..."  size="80" required>
            <button type="submit" id="sendBtn">Send</button>
            </form>
        </div>

        <div id="extra-features">
            <div id="members">
                <h1>Members</h1>
                <ul>
                <li>Ranvijay</li>
                <li>Ravi</li>
                <li>Ranvijay</li>
                <li>Ravi</li>
                <li>Ranvijay</li>
                <li>Ravi</li>
                <li>Ranvijay</li>
                <li>Ravi</li>
                <li>Ranvijay</li>
                <li>Ravi</li>
                <li>Ranvijay</li>
                <li>Ravi</li>
                </ul>
                
            </div>
            <div id="addingFeature">
                <form id="add-member">
                    <label>Add Member</label>
                    <br>
                    <input type="text" name="userEmail" placeholder="User Email" size="40" required>
                    <button type="submit" id="addBtn">Search</button>
                </form>
                <div id="searchedMember">
                      <p>Ranvijay Singh</p>
                </div>
            </div>
        </div>

    </div>

    <div class="group">
        <h1 style="text-align: center; margin-top: 50px;">Create Group</h1>
        <form id="create-group">
            <input type="text" name="group" id="group-name" size="30" placeholder="Group Name" required>
            <button id="add-group" type="submit">Create Group</button>
        </form>

        <h1 style="text-align: center; margin-top: 50px;">Join Group</h1>
        <form id="join-group">
            <input type="text" name="joinGroup" id="join-group-name" size="30" placeholder="Group Name" required>
            <button id="add-group" type="submit">Join Group</button>
        </form>
    </div>
</div>
    






    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="chat.js"></script>
</body>
</html>